
@import "./variables";
@import "../src/utilities/utilities";
@import "../src/homePage/homePage";
@import "../src/servicesPage/servicesPage";
@import "../src/projectsPage/projectPage";
@import "./mediaQueries";
html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
}
button {
  cursor: pointer;
}
